body {
	width: 1000px;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
	font-family: 'Lato', sans-serif;
}

#darkness {
	text-align: center;
	padding: 0;
	font-size: 3em
}

.black {
	color: white;
	background: black;
}

#controls {
	position: fixed;
	display: flex;
	flex-direction: column;
	left: 24px;
	width: 160px;
	text-align: center;
}

#controls > p {
	margin-top: 0;
}

#buttons {
	display: flex;
	flex-direction: column;
}

#buttons > input {
	margin-bottom: 12px;
	width: 100%;
	height: 30px;
}

#rangeContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#rangeDisplay {
	text-align: center;
}

body h1:first-of-type {
	font-size: 3em;
}

body p:first-of-type, body h1:first-of-type {
	text-align: center;
}