h1 {
	font-family: Roboto, sans-serif;
}

a, a:link, a:visited, a:hover {
	color: #333;
	text-decoration: none;
}

#preload {
	display: none;
}

#header {
	height: 340px;
	width: 100%;
	position: fixed;
	z-index: -10;
	top: 0;
	background: url('images/header-background.jpg');
	background-size: cover;
	background-position: bottom;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#header h1{
	margin-top: 0;
	margin-bottom: 0;
	color: #EEE;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, .5)
}

#header h1:nth-of-type(1) {
	letter-spacing: 7.8px;
	word-spacing: 10px;
	margin-left: 10px;
	font-weight: 700;
}

#header h1:nth-of-type(2) {
	letter-spacing: 7.4px;
	margin-left: 17px;
	font-weight: 700;
	margin-top: 2px;
	margin-bottom: 8px;
	transform: scale(1.25, 1.4);
  -webkit-transform: scale(1.25, 1.4); /* Safari and Chrome */
  -moz-transform: scale(1.25, 1.4); /* Firefox */
  -ms-transform: scale(1.25, 1.4); /* IE 9+ */
  -o-transform: scale(1.25, 1.4); /* Opera */
}

#header h1:nth-of-type(3) {
	letter-spacing: 15px;
	margin-left: 30px;
	margin-top: 8px;
	margin-bottom: 4px;
	font-weight: 900;
	transform: scale(1.37, 1.6);
  -webkit-transform: scale(1.37, 1.6); /* Safari and Chrome */
  -moz-transform: scale(1.37, 1.6); /* Firefox */
  -ms-transform: scale(1.37, 1.6); /* IE 9+ */
  -o-transform: scale(1.37, 1.6); /* Opera */
}

#header h1:nth-of-type(4) {
	letter-spacing: 2.7px;
	word-spacing: 10px;
	margin-left: 5px;
	font-weight: 700;
}

#content {
	margin-top: 340px;
	margin-bottom: 48px;
	background: white;
	z-index: 10;
}

.section {
	text-align: center;
}

.section ~ .section {
	margin-top: 22px;
	margin-bottom: 22px;
}

.top-nav {
	display: flex;
	justify-content: center;
	height: 80px;
	padding: 24px 0;
}

.top-nav .btn {
	margin: 0 4%;
	width: 20%;
}

.top-nav-padding {
	height: 80px;
}

.hidden {
	display: none;
}

.fixed-top {
	position: fixed;
	top: 0;
	background: white;
	height: 70px;
	z-index: 100;
	padding-bottom: 14px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 5px 4px white,
							0 10px 20px white,
							0 14px 50px white;
}

.project-item {
	margin: 12px 0;
	padding: 9px 0 0 0;
	border: 3px solid white;
	border-radius: 16px;
	transition: border-color .3s;
}

.project-item:hover {
	border-color: rgba(0, 0, 124, 0.15);
}

.project-item p {
	margin-top: 12px;
	padding-left: 24px;
	padding-right: 24px;
}

.project-text {
	margin-bottom: 24px;
	padding-left: 26px;
	padding-right: 26px;
}

.section h1:first-of-type {
	padding-top: 42px;
	padding-bottom: 42px;
	margin: 0;
}

#about-me .about-me-section {
	margin-bottom: 48px;
}

#about-me .about-me-section p {
	padding-left: 24px;
	padding-right: 24px;
	font-size: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > [class*="col-"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
	#header h1 {
		font-size: 2.5rem;
	}

	#header h1:nth-of-type(2) {
		letter-spacing: 8.1px;
		margin-left: 15px;
	}

	#header h1:nth-of-type(3) {
		letter-spacing: 13.8px;
		margin-left: 24px;
	}

	#header h1:nth-of-type(4) {
		letter-spacing: 3.6px;
		margin-left: 8px;
	}

	.fixed-top {
		width: 100%;
		left: 0;
		padding-left: 15px;
		padding-right: 15px;
	}

	.top-nav .btn {
		font-size: 11px;
		padding-top: 8px;
	}
}

@media (min-width: 768px) {
	.fixed-top {
 	   width: 720px;
  }

  #about-me .about-me-section p {
		padding-left: 80px;
		padding-right: 80px;
	}
}

@media (min-width: 992px) {
	.fixed-top {
	    width: 940px;
	}

}

@media (min-width: 1200px) {
	.fixed-top {
	    width: 1140px;

	}
}

.btn {
	border-radius: 18px;
}

#contacts p {
	font-size: 24px;
	text-align: center;
}