html, body {
  font-family: Roboto, sans-serif;
  background-color: #B8D1E0;
  margin: 0;
}

#header {
  height: 340px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -10;
  background-color: #062437;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header::after{
  content: "";
  background: url('images/header.png');
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -11;
}

#header h1 {
  color: white;
  text-align: center;
  font-size: 6em;
}

#content {
  margin-top: 340px;
  margin-bottom: 48px;
  z-index: 10;
}

#top-text {
  text-align: center;
  margin: 0 12% 24px;
}

.nav-container {
  font-size: 1.6em;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.section {
  margin: 12px 0;
  text-align: center;
}

.section h1 {
  font-size: 3.5em;
}

.section p {
  font-size: 1.7em;
  margin-bottom: 12px;
}

.section-item {
  padding: 12px 24px;
  border: 3px solid transparent;
  border-radius: 16px;
  transition: border-color 0.3s;
}

.section-text {
  cursor: pointer;
}

.section-item:hover {
  border-color: rgba(0, 0, 0, 0.20);
}

.section-content {
  overflow: hidden;
  max-height: 0;
  margin-top: 36px;
  transition: max-height 0.75s ease-in-out;
}

.show {
  max-height: 550px;
  transition: max-height 0.75s ease-in-out;
}

