h1 {
	font-family: Roboto, sans-serif;
}

#preload {
	display: none;
}

#header {
	height: 340px;
	width: 100%;
	position: fixed;
	z-index: -10;
	top: 0;
	background: url('images/header-background.jpeg');
	background-size: cover;
	background-position: bottom;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#header h1{
	margin-top: 0;
	margin-bottom: 0;
	color: #EEE;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, .5)
}

#header h1:nth-of-type(1) {
	letter-spacing: 7.8px;
	word-spacing: 10px;
	margin-left: 10px;
	font-weight: 700;
}

#header h1:nth-of-type(2) {
	letter-spacing: 15px;
	margin-left: 30px;
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: 900;
	transform: scale(1.37, 1.6);
  -webkit-transform: scale(, 1.3); /* Safari and Chrome */
  -moz-transform: scale(1, 1.5); /* Firefox */
  -ms-transform: scale(1, 1.5); /* IE 9+ */
  -o-transform: scale(1, 1.5); /* Opera */
}

#header h1:nth-of-type(3) {
	letter-spacing: 2.7px;
	word-spacing: 10px;
	margin-left: 5px;
	font-weight: 700;
}

#content {
	margin-top: 340px;
	background: white;
	z-index: 10;
}

.project-item {
	margin: 24px 0;
}

.project-text {
	margin-bottom: 24px;
	padding-left: 22px;
	padding-right: 22px;
}

#projects {
	margin-top: 48px;
}

#projects .project-item:first-of-type {
	margin-top: 48px;
}

#projects .project-item:nth-of-type(even) {
	transform: rotate(-180deg), ;
	direction: ltr;
}

#projects h1 {
	text-align: center;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.row > [class*="col-"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
}